# Ignore file generated
*.txt
*.png
Makefile
interface.pro.user
.qmake.stash
runner

# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Pr le moment
test/*
